h1 {
    text-align: left;
    font-size: 165px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(210, 176, 243);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

h2 { 
    text-align: center; 
}

p { 
    text-align: center;
}

h3 {text-align: center;

}

.crush
 {display: block;
 margin: auto;
}

.crush
{border: 3px solid rgb(210, 176, 243);
     width: fit-content;
      margin: auto; 
       padding: 1rem;
    }
.poop
{ 
    color: rgb(210, 176, 243);
}

li { text-align: center; margin: auto;  

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(154, 21, 154);
    }

    body{
        background-color: rgb(184, 117, 250) ;
    }

.starr {

    border: 3px solid rgb(210, 176, 243);
    width: fit-content;
     margin: auto; 
      padding: 1rem;
    align-items: center;
    display: block;

}


.video { border: 3px solid rgb(210, 176, 243);
    width: fit-content;
     margin: auto; 
      padding: 1rem;
    align-items: center;
     }

