h1 {
    text-align: left;
    font-size: 165px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(210, 176, 243);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
h2{text-align: center; color:rgb(154, 21, 154); font-size: 56px;}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(154, 21, 154);
    }

.instagram{
    text-align: center;
    font-size: 160%;
    margin: auto;
}

body{
    background-color: rgb(184, 117, 250) ;
}

p {

    font-size: 250%;
    text-align: center;
    margin: 8%;
    color: rgb(210, 176, 243);
    font-weight:bolder;
}




div{

    background-color: rgb(221, 218, 218);
    width: 300px;
    padding: 50px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
    
}



h4 {

color: black;
text-align: center;

}

h{ text-align: center;}